
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

html {
  height: 100%;
  width: 100%;
}


/*  https://www.codingnepalweb.com/fullscreen-overlay-navigation-menu-bar-html-css/*/
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
/* navbar css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(-135deg, #ff004c, #ff1a1a);
  /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
  /* clip-path: circle(25px at calc(0% + 45px) 45px); */
  clip-path: circle(25px at calc(100% - 45px) 45px);
  transition: all 0.1s ease-in-out;
}

#active:checked~.wrapper {
  clip-path: circle(75%);
}

.menu-btn {
  position: fixed;
  z-index: 2;
  right: 20px;
  /* left: 20px; */
  top: 20px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  font-size: 20px;
  color: #ffffff;
  cursor: pointer;
  background: linear-gradient(-135deg, #ff6675, #fd4949);
  /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
  transition: all 0.3s ease-in-out;
}

#active:checked~.menu-btn {
  background: #ffffff;
  color: #4158d0;
}

#active:checked~.menu-btn i:before {
  content: "\f00d";
}

.wrapper ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
}

.wrapper ul li {
  margin: 15px 0;
}

.wrapper ul li a {
  color: none;
  font-family: 'Bebas Neue', sans-serif;
  text-decoration: none;
  font-size: 75px;
  font-weight: 500;
  padding: 5px 30px;
  color: #ffffff;
  position: relative;
  line-height: 100px;
  transition: all 0.3s ease;
  letter-spacing: -3px;
  transition: 700ms ease;
  font-variation-settings: "wght" 311;
  margin-bottom: 0.8rem;
}

.tabs:hover {
  font-variation-settings: "wght" 582; 
  letter-spacing: 4px;
}

.wrapper ul li a:after {
  position: absolute;
  content: "";
  background: #ffffff;
  width: 100%;
  height: 95px;
  left: 0;
  border-radius: 50px;
  transform: scaleY(0);
  z-index: -1;
  transition: transform 0s ease;
}

.wrapper ul li a:hover:after {
  transform: scaleY(1);
}

.wrapper ul li a:hover {
  color: #ff004c;
   overflow: hidden;
}

input[type="checkbox"] {
  display: none;
}

/* end of navbar css */



/* gallery css */
#gallery {
   line-height:0;
   -webkit-column-count:5; /* split it into 5 columns */
   -webkit-column-gap:5px; /* give it a 5px gap between columns */
   -moz-column-count:5;
   -moz-column-gap:5px;
   column-count:5;
   column-gap:5px;
}
#gallery .galimg {
   width: 100% !important;
   height: auto !important;
   margin-bottom:5px; /* to match column gap */
}
@media (max-width: 1200px) {
   #gallery {
    -moz-column-count:    4;
    -webkit-column-count: 4;
    column-count:         4;
   }
}

.galimg:hover{
transform: scale(1.09);
  transition: 1s;
}

#gallery{
  background-color: black;
}
/* END OF gallery css */


/* starter headers/paragraphs page css */
#Header1 {
  position: absolute;
  color: white;
  text-shadow: 2px 2px 3px #d6d6d6;
  font-family: 'Bebas Neue', sans-serif;
  top: 225px;
  left: 16px;
  font-size: 65px;
}
#para1 {
  position: absolute;
  color: white;
  font-family: 'Bebas Neue', sans-serif;
  top: 325px;
  left: 16px;
  font-size: 25px;

}
/* END OF starter headers/paragraphs page css */

#mid-page{
  position: relative;
  bottom:-100px;
  background-image:url("https://i.pinimg.com/originals/a9/9b/58/a99b58300f174c08a502e7eec30e0aa0.jpg");
}
